body {
	background: #f8f8f8;
}
.navbar-static-side {
	margin-top: 0px;
	position: fixed;
}

@media screen {
	#page-wrapper {
		margin-top: 0;
		margin-left: 250px;
	}
}

@media print {
	.navbar-static-side {
		display: none;
	}
}

/* - Table
*/
.th-actions {
	width: 30px;
}
.td-actions {
	white-space: nowrap;
}

th.order {
	cursor: pointer;
}
th.order:after {
	font-family: FontAwesome;
	content: '\f0dc';
	float: right;
	display: inline;
	color: #ccc;
}
th.order.asc:after {
	content: '\f0de';
	color: #000;
}
th.order.desc:after {
	content: '\f0dd';
	color: #000;
}

.filters {
	margin-bottom: 20px;
}

.pagination {
	margin-top: 0;
}

.panel-acreditados {
	border-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

@media screen and (max-width: 1199px) {
	._table-responsive {
		background: #fff;
		overflow: hidden;
		overflow-x: auto;
	}
}

@media print {
	.th-actions,
	.td-actions {
		display: none;
	}
}
