/* General */

body {
    font-family: 'Myriad Pro';
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: url(http://procalidad.gob.pe/templates/rt_voxel/images/overlays/patterns/crackle.png);
}

/* Placeholder */

select.placeholder {
	color: #999;
}
select.placeholder option {
	color: #555;
}
select.placeholder option:first-child {
	color: #999;
}

/* Sign */

.form-sign {
	padding: 10px 30px;
	margin: 0 auto;
	background-color:#fff;
	box-shadow: 5px 5px 5px #ccc;
	font-size: 16px;
}
.form-sign .logo {
	padding-top: 10px;
	padding-bottom: 20px;
	margin: 0 auto;
}
.signin {
	max-width: 400px;
}
.signup {
	max-width: 960px;
}
.heading {
	text-align: center;
}
.footer-sign {
	font-size: 12px;
	margin: 0 auto;
	max-width: 360px;
	padding: 15px;
	position: relative;
	text-align: center;
	top: 100px;
}
.control-sign {
	height: auto;
	padding: 10px;
	font-size: 16px;
}
.signin .actions .btn-link {
	padding: 6px;
}

.signup fieldset {
	margin-bottom: 20px;
}
.signup .committee {
	margin-bottom: 0;
}
.signup .committee input[type=radio] {
	margin: 0 0 0 -20px;
	float: none;
}

.btn-forgot {
	font-size: 14px;
}

.btn-flat,
.input-flat {
	border-radius: 0;
}
/* LOGIN 2*/
.form-sign-2 {
	padding: 10px 1px;
	margin: 0 auto;
	font-size: 16px;
}
.div-left {
	padding: 0px auto;
	text-align: justify;

}
.div-right {
	border-left: 10px solid #999;
}
.primera_linea {
	text-align: center;
	margin-bottom: 10px;
	font-size: 20px;
	color: #666;
}
.img-campo-accion {
	margin: 10px auto;
	width: 48.5%;
}
#img_table_small {
	
	cursor: pointer;
}
#div_table_big {
	display: none;
	cursor: pointer;
}
#login_container {
	display: block;
}
.centrado {
	text-align: center;
	font-weight: bold;
	font-size: 12px;
}
.contenido-der {
	width: 99%; 
	float: right;
	/*margin-top: 18px;*/
	vertical-align: middle;
	/*font-size: 14px;*/
}
.salto_linea_after {
	margin-bottom: 10px;
}
.contenido-izq {
	width: 30%; 
	float: left;
}
.img-login-vineta {
	float:left; 
	margin-top: 3px;
	width: 16px;
}
.img-login {
	width: 90px;
}
.ivideo {
	width: 100%;
	height: 350px;
}
.separador1 {
	width: 70%;
	float: right;
	margin: 20px auto 0 0;
	text-align: center;
	font-size: 30px;
}
.interior-top{
	min-height: 50px;
	width: 100%;
}
.interior-left {
	float: right;
	width: 28%;
}
#login1 {
	float: right;
	display: block;
	border: 1px solid #0075b0;
	width: 70%;
	margin-right: 10px;
	padding: 10px 30px;
	/*para Firefox*/
	-moz-border-radius: 40px 40px 40px 40px;
	/*para Safari y Chrome*/
	-webkit-border-radius: 40px 40px 40px 40px;
	/* para Opera */
	border-radius: 40px 40px 40px 40px;
	box-shadow: 5px 5px 8px #999
}
#login2 {
	float: right;
	display: none;
	border: 1px solid #0075b0;
	width: 70%;
	margin-right: 10px;
	padding: 10px 30px;
	/*para Firefox*/
	-moz-border-radius: 40px 40px 40px 40px;
	/*para Safari y Chrome*/
	-webkit-border-radius: 40px 40px 40px 40px;
	/* para Opera */
	border-radius: 40px 40px 40px 40px;
	box-shadow: 5px 5px 8px #999
}
#login2_overflow {
	overflow-y: scroll;
	height: 260px;
	width: 100%;
	padding-right: 6px;
}
#vermas, #volver, #volver_video {
	cursor: pointer;
}
#video-img {
	float: right;
	width: 30px;
	margin-top: -5px;
	cursor: pointer;
}
#video-txt {
	cursor: pointer;
	float: right;
}
#login3 {
	display: none;
	width: 70%;
	margin-right: 10px;
	float: right;
}
/* FIN LOGIN 2*/