/**
 *
 * @author     Sergio Melendez <helpse@gmail.com>
 * @copyright  (c) 2015 ProCalidad
 */

/* Gproc
================================================================================
*/

/* header
*/

table, input, select {
    width: 100%;
}

/*a:link, a:hover, a:visited, a:active {
	color: #000; 
}*/

td, th {
    /*border: 1px solid #ccc;*/
}
.dynamic .th-actions,
.dynamic .td-actions {
	padding: 0;
	width: 20px;
}
.dynamic .td-actions {
	position: relative;
}
.dynamic tr .td-actions > button {
	display: none;
	position: absolute;
	top: 0px;
	right: 0px;
}
.dynamic tr:hover:last-child:not(:first-child) > .td-actions > button {
	display: inline-block;
}


/*added David*/
/* etapas*/

.content-etapas{
	width: 100%;
	padding: 20px 0 0 0;
}
.convocatoria{
	float: left; 
	width: 39.5%; 
	padding-bottom: 50px;
	height: 100%;
}
.span_pdf{
	float:left; 
	margin-right: 10px;
}
.etapa-convocatoria 
{
	//height: 450px; 
	_height: 96%;
	border:1px solid #00529C; 
	_width: 92%; 
	_float: left;
	text-align: justify;
	-moz-border-radius: 50px 50px 50px 50px;
	-webkit-border-radius: 50px 50px 50px 50px; 
	border-radius: 50px 50px 50px 50px;
	padding: 25px 25px;
}

.etapa_convocatoria_espacio 
{
	border-bottom: 1px solid #00529C; 
	adding-bottom: 15px; 
	height: 20px; 
	width: 100%;
}
.etapas{
	float: left; 
	width: 60%;
}
/* etapas*/

/*/added David*/

body > .header .logo {
	font: 30px/55px 'Myriad Pro';
}

.img-logo {
	padding: 15px;
}
.skin-blue .navbar {
	background-color: #00529C;
}
.skin-blue .logo {
	background-color: #004e94;
	color: #f9f9f9;
}
.skin-blue .logo:hover {
	background-color: #033c6f;
}
@media screen {
	.left-side {
		left: 0;
		transition: left .2s;
	}
	.right-side {
		transition: margin-left .2s;
		min-height: 600px;
	}
}

/* No padding-bottom (not needed on newest versions of AdminLTE)
*/
.box .box-header {
	padding-bottom: 0;
}

.small-box.bg-gray:hover {
	color: #333;
}

/* Animations
*/
.open > .dropdown-menu {
  animation-duration: .2s;
  -webkit-animation-duration: .2s;
  -moz-animation-duration: .2s;
}
.small-box:hover .icon {
	animation-duration: .2s;
	-webkit-animation-duration: .2s;
	-moz-animation-duration: .2s;
}

/* data-title
*/
[data-title]:hover:after {
	display: block;
	position: absolute;
	z-index: 1000;
	
	content: attr(data-title);
	
	margin-top: 15px;
	padding: 2px 4px;
	border: 1px solid #767676;
	box-shadow: 2px 2px 2px #999;
	border-radius: 2px;
	background: linear-gradient(#fff, #e4e5f0);
	
	font: normal 12px Arial;
	color: #555;
}

/* We don't need an image there
*/
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
	height: auto;
}

/* Modal
*/
.modal .table-wrapper {
	margin-bottom: 20px;
}

/* Alerts
*/
.alert-wrapper {
	_position: absolute;
	position: fixed;
	top: 50px;
	left: 0;
	width: 50%;
	margin-left: 25%;
	z-index: 2000;
}
.alert-wrapper .alert {
	_width: 100%;
	_margin: 0 auto;
	z-index: 5000;
}
@media screen and (max-width: 560px) {
	.alert-wrapper {
		padding: 0 15px 0 20px;
	}
	.alert-wrapper .alert {
		width: 100%;
	}
}

/* Flots
*/
.flot-chart {
	height: 400px;
}
.flot-chart-content {
	height: 100%;
}

/* Highcharts
*/
.highcharts-wrapper {
	overflow: auto;
}
.highcharts {
	min-width: 500px;
	height: 500px;
	margin: 0 auto;
	_max-width: 700px;
}
@media print {
	.highcharts { max-width: 700px; }
}

/* Mobile icon fix
*/
.sidebar-menu .fa-mobile:before,
.sidebar-menu .fa-mobile-phone:before {
	margin-left: 5px;
}

/* List buttons
*/
.list-buttons .btn i {
	margin-right: 5px;
}
.radio label, 
.checkbox label {
	white-space: nowrap;
}
/* template/evaluador/header */
.color-white {
	color: white;
}
.ubicacion-menu-usuario {
	margin-top: -50px;
}

.table-link:link, .table-link:hover, .table-link:visited, .table-link:active {
	display: block;
	color: #000;
}


/* Fichas v2
*/
.overlay {
	z-index: 1000;
	display: table;
	width: 100%;
	height: 100%;
	position: fixed;
	background: red;
	opacity: 0.8;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	color: white;
}
.overlay .close-btn {
	cursor: pointer;
	font-size: 50px;
	position: fixed;
	right: 30px;
	top: 30px;
}
.overlay .afk-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 25px;
	max-width: 400px;
	padding: 0 10px;
	font-weight: 600;
}
