/**
 *
 * @author     Sergio Melendez <helpse@gmail.com>
 * @copyright  (c) 2015 ProCalidad
 */

/* Gproc
================================================================================
*/
.crono_wrapper {
	overflow: auto;
	position: relative;
}

.crono_table thead th {
	_width: 53px;
}

.crono_table thead th:first-child {
	_width: 60px;
}

.crono_table tbody tr {
	_position: relative;
}

.crono_td {
	_position: relative;
}

.crono_div {
	position: absolute;
	_top: 0;
	_left: 0;
	_width: 90%;
	height: 20px;
	background: #ddd;
	border: 1px solid #777;
	border-radius: 5px;
	cursor: move;
}

.firmas .box-header .box-title {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0 5px 10px;
}
.firmas .box-title {
	padding-bottom: 0;
}
.firmas .box-body {
	padding: 10px 30px;
}
.firmas .form-group {
	margin-bottom: 0;
}
.firmas .form-control {
	padding: 3px 6px;
	height: 28px;
}
.firmas .form-control-static {
	padding: 4px 0 0;
	border: 0;
}
