/**
 *
 * @author     Sergio Melendez <helpse@gmail.com>
 * @copyright  (c) 2015 ProCalidad
 */

/* Gproc
================================================================================
*/

.error_cell input,
.error_cell select,
.error_cell textarea {
	border: 1px solid red;
	background: #f2dede;
}

.strong {
	font-weight: bold;
}

textarea {
	resize: vertical;
}

/* header
*/
.form-control-static {
	border: 1px solid #ddd;
	padding: 7px;
}

.bg-success {
	background-color: #dff0d8 !important;
}

/*matriz presupuesto */

.box .box-header .box-title {
	font-size: 14px;
}
.alert {
	margin-left: 0;
}

.firmas .box-header .box-title {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0 5px 10px;
}
.firmas .box-title {
	padding-bottom: 0;
}
.firmas .box-body {
	padding: 10px 30px;
}
.firmas .form-group {
	margin-bottom: 0;
}
.firmas .form-control {
	padding: 3px 6px;
	height: 28px;
}
.firmas .form-control-static {
	padding: 4px 0 0;
	border: 0;
}

.tladoderecho .pull-right {
	margin-bottom: 10px;
}

.crono_wrapper {
	overflow: auto;
	position: relative;
}

.crono_wrapper > table {
	width: 100%;
	min-width: 1200px;
}
