/**
 *
 * @author     Sergio Melendez <helpse@gmail.com>
 * @copyright  (c) 2015 ProCalidad
 */

/* Gproc
================================================================================
*/

/* header
*/

/*matriz presupuesto*/

.dynamic td {
	vertical-align: top;
}

.div-contenido {
	width: 80%;
	margin-left: 10%;
}
.dynamic td {
	vertical-align: top;
}

.tdocumento-nombre {
	width: 90%;
}

.tdocumento-pdf {
	width: 10%;
}

.table-centered > thead > tr > th {
	//vertical-align: middle;
	text-align: center;
}
.table-centered > tbody > tr > td {
	padding: 0;
	//vertical-align: middle;
}


/* File input
*/
/*.btn-file-wrapper {
	padding: 0;
}
.btn.btn-file {
	width: 35px;
}
.btn-file[data-title]:hover:after,
.btn_file_view[data-title]:hover:after {
	display: none;
}
.btn.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
	
	width: 35px !important;
	height: 35px !important;
}
.btn_file_view:not(.disabled) .empty {
	display: none;
}
.btn_file_view.disabled .full {
	display: none;
}
.file_process {
	padding-left: 8px;
	padding-right: 8px;
}*/

/*matriz presupuesto*/