/**
 *
 * @author     Sergio Melendez <helpse@gmail.com>
 * @copyright  (c) 2015 ProCalidad
 */

/* Gproc
================================================================================
*/
.strong {
	font-weight: bold;
}

textarea {
	resize: none;
}

label {
	text-align: justify;
	_padding: 5px;
}
/*body*/
.tobjetivo {
	width: 3%;
}
.tresultado {
	width: 3%;
}

.t-ladoderecho {
	width: 94%;
}
.t-actividades {
	width: 50%;
	padding: 10px;
}
.t-efectos {
	width: 50%;
	padding: 10px;
}

.dynamic {
	margin-bottom: 0;
}
.table.table-efectos {
	margin-bottom: 0;
}

.table-centered > thead > tr > th {
	text-align: center;
}
.table-centered > tbody > tr > td {
	padding: 0;
}

.firmas .box-header .box-title {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0 5px 10px;
}
.firmas .box-title {
	padding-bottom: 0;
}
.firmas .box-body {
	padding: 10px 30px;
}
.firmas .form-group {
	margin-bottom: 0;
}
.firmas .form-control {
	padding: 3px 6px;
	height: 28px;
}
.firmas .form-control-static {
	padding: 4px 0 0;
	border: 0;
}
