/**
 *
 * @author     Sergio Melendez <helpse@gmail.com>
 * @copyright  (c) 2015 ProCalidad
 */

/* Evaluador
================================================================================
*/

.btn-file.btn_file_upload {
	width: 35px;
	height: 30px;
}

.td-actions {
	white-space: nowrap;
}

.td-actions form {
	display: inline-block;
}

.fichas_estado {
	width: auto;
}

.fichas_estado_wrapper {
	margin-left: 20px;
}
