/**
 *
 * @author     Sergio Melendez <helpse@gmail.com>
 * @copyright  (c) 2015 ProCalidad
 */

/* ficha
*/
/*.ficha .error_cell {
	position: relative;
}*/

.ficha .error_cell input {
    border: 1px solid red;
	background: #f2dede;
}

.box-title small {
	font-size: 90%;
}

.ficha .system-status .badge {
	width: 26px;
	padding: 7px;
	border-radius: 50%;
}
.dynamic tr .td-actions > button {
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
}
.ficha .nav-tabs-custom .badge,
.ficha-info .badge {
	width: 18px;
	padding: 3px;
	border-radius: 50%;
}
.content {
	background: #eee;
}
.nav-tabs-custom > .nav-tabs {
	overflow-x: auto;
}
.nav-tabs-custom > .nav-tabs > li {
	font-size: 16px;
	font-weight: bold;
	background: #e7e7e7;
}
.nav-tabs-custom > .nav-tabs > li + li {
	border-left: 1px solid #fff;
}
.nav-tabs-custom > .nav-tabs > li.active {
	background: #f9f9f9;
}

.ficha .error-totales tbody tr th:last-child,
.ficha .docentes.error-total-universidad tbody tr:last-child th:last-child,
.ficha .error-total-universidad .table_condicion tbody tr:last-child th:last-child {
	background: #f2dede;
}



/*
 * =============================================================================
*/


.ficha h4 {
	margin: 0;
	text-align: center;
}
.ficha h4 + h4 {
	margin-bottom: 10px;
}
.ficha .box {
	margin-bottom: 10px;
}
.ficha .box-header .box-title {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0 5px 10px;
}
.ficha .box-title {
	padding-bottom: 0;
}
.ficha .box-body {
	padding: 0 30px 10px 30px;
}
.ficha .form-group {
	margin-bottom: 0;
}
.ficha legend {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 0;
}
.ficha .number {
	display: inline-block;
	width: 20px;
}
.ficha .control-label {
	padding-top: 4px;
	text-align: left;
}
.ficha .form-control-static {
	padding-top: 4px;
}
.ficha .form-control {
	padding: 3px 6px;
	_line-height: 1.142857142;
	height: 28px;
}
.table-centered > thead > tr > th {
	vertical-align: middle;
	text-align: center;
}
.table-centered > tbody > tr > td {
	padding: 0;
	vertical-align: middle;
}

.ficha .th-actions,
.ficha .td-actions {
	padding: 0;
	width: 20px;
}
.ficha .td-actions {
	position: relative;
}
.ficha tr .td-actions > button {
	display: inline-block;
	position: absolute;
	top: 5px;
	right: 0px;
}
/*.ficha tr + tr > .td-actions > button {*/
.ficha tr:hover:last-child:not(:first-child) > .td-actions > button {
	display: inline-block;
}

.filial_list .filial_item .box-tools {
	display: none;
	position: absolute;
	right: 0;
}

/*.filial_list .filial_item + .filial_item:hover .box-tools {*/
/*.filial_list .filial_item + .filial_item .box-tools {*/
.filial_list .filial_item:last-child:not(:first-child) .box-tools {
	display: block;
}

[data-scroll].skin-blue .sidebar > .sidebar-menu > li.active > a {
	color: #222;
	font-weight: 800;
	background: #f9f9f9;
}
[data-tipo].warning {
	border-color: red;
}

@media (min-width: 768px) {
.ficha .actions {
	position: fixed;
	width: 100%;
	bottom: 0;
	right: 0;
	background: #eee;
	padding: 15px 15px 15px 235px;
	border-top: 2px solid #ccc;
}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.ficha .filial_list *:nth-child(2n+1) {
		clear: left;
	}
}
@media (min-width: 768px) {
	.ficha .estudiantes_list *:nth-child(2n+1) {
		clear: left;
	}
}
@media (min-width: 1200px) {
	.ficha .filial_list *:nth-child(3n+1) {
		clear: left;
	}
}
