/**
* Saes
*/

/* header
*/

body > .header .logo {
	font: 30px/55px 'Myriad Pro';
}

.img-logo {
	padding: 15px;
}
.skin-blue .navbar {
	background-color: #00529C;
}
.skin-blue .logo {
	background-color: #004e94;
	color: #f9f9f9;
}
.skin-blue .logo:hover {
	background-color: #033c6f;
}
@media screen {
	.left-side {
		left: 0;
		transition: left .2s;
	}
	.right-side {
		transition: margin-left .2s;
		min-height: 600px;
	}
}
/*.row-offcanvas-left {
	left: 0;
	transition: left .5s;
}*/

/* No padding-bottom (not needed on newest versions of AdminLTE)
*/
.box .box-header {
	padding-bottom: 0;
}

.small-box.bg-gray:hover {
	color: #333;
}

/* Animations
*/
.open > .dropdown-menu {
  animation-duration: .2s;
  -webkit-animation-duration: .2s;
  -moz-animation-duration: .2s;
}
.small-box:hover .icon {
	animation-duration: .2s;
	-webkit-animation-duration: .2s;
	-moz-animation-duration: .2s;
}

/* data-title
*/
[data-title]:hover:after {
	display: block;
	position: absolute;
	z-index: 1000;
	
	content: attr(data-title);
	
	margin-top: 15px;
	padding: 2px 4px;
	border: 1px solid #767676;
	box-shadow: 2px 2px 2px #999;
	border-radius: 2px;
	background: linear-gradient(#fff, #e4e5f0);
	
	font: normal 12px Arial;
	color: #555;
}

/* We don't need an image there
*/
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
	height: auto;
}

/* Modal
*/
.modal .table-wrapper {
	margin-bottom: 20px;
}

/* Alerts
*/
.alert-wrapper {
	position: absolute;
	width: 100%;
	/*z-index: 5000;*/
}
.alert-wrapper .alert {
	width: 50%;
	margin: 0 auto;
	z-index: 5000;
}

/* Flots
*/
.flot-chart {
	height: 400px;
}
.flot-chart-content {
	height: 100%;
}

/* Mobile icon fix
*/
.sidebar-menu .fa-mobile:before,
.sidebar-menu .fa-mobile-phone:before {
	margin-left: 5px;
}

/* List buttons
*/
.list-buttons .btn i {
	margin-right: 5px;
}

.radio label, 
.checkbox label {
	white-space: nowrap;
}

/* Regular User
================================================================================
*/

.header.regular .logo {
	width: 270px;
	text-align: right;
}
.header.regular .logo .icon {
	height: 40px;
	float: left;
	margin-top: 5px;
	margin-right: -15px;
}
.header.regular .navbar {
	margin-left: 270px;
}

.header.regular .navbar-text {
	position: absolute;
	color: #f9f9f9;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.header.regular .dropdown-menu > li.user-body {
	padding: 15px 0;
}
.header.regular .dropdown-menu > li.user-body .btn-danger {
	color: #fff;
}

.header.regular .navbar-nav > .user-menu {
	background-color: #00529C;
}
.header.regular .navbar-nav > .user-menu > .dropdown-menu {
	padding-top: 10px;
}
.header.regular .navbar .dropdown-menu > li > a:hover {
	color: #f9f9f9;
	background: #3c8dbc;
}
.header.regular .navbar-nav > .user-menu > .dropdown-menu > li.user-footer {
	margin-top: 10px;
}

@media screen and (max-width: 560px) {
	body > .header.regular .logo,
	body > .header.regular .navbar {
		width: 100%;
		float: none;
		position: relative!important;
		margin-left: 0;
	}

}

/* assessment/actividades
*/

/* estandares */
.estandares-wrapper {
	height: 500px;
	overflow-y: auto;
}
.estandares-list {
	margin: 0;
	padding: 0px 0px;
	list-style: none;
}
.estandares-list > li {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 10px;
	background: #f3f4f5;
	margin-bottom: 2px;
	border-left: 2px solid #e6e7e8;
	color: #444;
	width: 100%;
	cursor: move;
}
.estandares-list > li:last-of-type {
	margin-bottom: 0;
}
.estandares-list > li.danger {
	border-left-color: #f56954;
}
.estandares-list > li.warning {
	border-left-color: #f39c12;
}
.estandares-list > li.info {
	border-left-color: #00c0ef;
}
.estandares-list > li.success {
	border-left-color: #00a65a;
}
.estandares-list > li.primary {
	border-left-color: #3c8dbc;
}
.estandares-list > li > input[type='checkbox'] {
	margin: 0 10px 0 5px;
}
.estandares-list > li .text {
	display: inline-block;
	margin-left: 5px;
}
.estandares-list > li .label {
	margin-left: 10px;
	font-size: 9px;
	float: right;
}
.estandares-list > li .tools {
	display: none;
}
.estandares-list .handle {
	display: inline-block;
	cursor: move;
	margin: 0 5px;
}

/* actividades */
.panel-actividades .panel-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.actividades-list {
	border-radius: 0;
	border-width: 2px;
	border-style: dashed;
}
.actividades-list.ui-state-active {
	border-color: #333;
}
.actividades-list li {
	padding: 5px;
}
.actividades-list li:hover {
	background: #fff;
}
.actividades-list li + li {
	margin-top: 5px;
}
.actividades-list li .tools {
	display: none;
	float: right;
	color: #f56954;
}
.actividades-list li .tools > .fa,
.actividades-list li .tools > .glyphicon,
.actividades-list li .tools > .ion {
	margin-right: 5px;
	cursor: pointer;
}
.actividades-list li:hover .tools {
	display: inline-block;
}

.ui-draggable-dragging {
	opacity: 0.5;
	z-index: 2000;
}

.btn-save-actividad[disabled] {
	padding-right: 37px;
}
.btn-save-actividad[disabled]:after {
	content: url(/media/gproc_lte/img/gif-load.gif);
	margin-left: 5px;
	position: absolute;
}

/* assessment/start
*/

.dashboard-start h1 {
	margin: 0;
	font-size: 30px;
}

/* ficha
*/
.ficha h4 {
	margin: 0;
	text-align: center;
}
.ficha h4 + h4 {
	margin-bottom: 10px;
}
.ficha .box {
	margin-bottom: 10px;
}
.ficha .box-header .box-title {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0 5px 10px;
}
.ficha .box-title {
	padding-bottom: 0;
}
.ficha .box-body {
	padding: 0 30px 10px 30px;
}
.ficha .form-group {
	margin-bottom: 0;
}
.ficha legend {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 0;
}
.ficha .number {
	display: inline-block;
	width: 20px;
}
.ficha .control-label {
	padding-top: 4px;
	text-align: left;
}
.ficha .form-control-static {
	padding-top: 4px;
}
.ficha .form-control {
	padding: 3px 6px;
	_line-height: 1.142857142;
	height: 28px;
}
.table-centered > thead > tr > th {
	vertical-align: middle;
	text-align: center;
}
.table-centered > tbody > tr > td {
	padding: 0;
	vertical-align: middle;
}

.ficha .th-actions,
.ficha .td-actions {
	padding: 0;
	width: 20px;
}
.ficha .td-actions {
	position: relative;
}
.ficha tr .td-actions > button {
	display: none;
	position: absolute;
	top: 5px;
	right: 0px;
}
/*.ficha tr + tr > .td-actions > button {*/
.ficha tr:hover:last-child:not(:first-child) > .td-actions > button {
	display: inline-block;
}

.filial_list .filial_item .box-tools {
	display: none;
	position: absolute;
	right: 0;
}

/*.filial_list .filial_item + .filial_item:hover .box-tools {*/
/*.filial_list .filial_item + .filial_item .box-tools {*/
.filial_list .filial_item:last-child:not(:first-child) .box-tools {
	display: block;
}

[data-scroll].skin-blue .sidebar > .sidebar-menu > li.active > a {
	color: #222;
	font-weight: 800;
	background: #f9f9f9;
}
[data-tipo].warning {
	border-color: red;
}

@media (min-width: 768px) {
.ficha .actions {
	position: fixed;
	width: 100%;
	bottom: 0;
	right: 0;
	background: #eee;
	padding: 15px 15px 15px 235px;
	border-top: 2px solid #ccc;
}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.ficha .filial_list *:nth-child(2n+1) {
		clear: left;
	}
}
@media (min-width: 768px) {
	.ficha .estudiantes_list *:nth-child(2n+1) {
		clear: left;
	}
}
@media (min-width: 1200px) {
	.ficha .filial_list *:nth-child(3n+1) {
		clear: left;
	}
}
