/**
 *
 * @author     Sergio Melendez <helpse@gmail.com>
 * @copyright  (c) 2015 ProCalidad
 */

/* Gproc
================================================================================
*/
/* header
*/

/*matriz monitoreo*/
.tobjetivo {
	width: 3%;
}

.ladoderecho {
	width: 97%;
}

.tindicadores{
	width: 30%;
}

.tmedios {
	width: 70%;
}

.dynamic {
	margin-bottom: 0;
}

.table-centered > thead > tr > th {
	text-align: center;
}
.table-centered > tbody > tr > td {
	padding: 0;
}

textarea{
	resize: none;
}

.firmas .box-header .box-title {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0 5px 10px;
}
.firmas .box-title {
	padding-bottom: 0;
}
.firmas .box-body {
	padding: 10px 30px;
}
.firmas .form-group {
	margin-bottom: 0;
}
.firmas .form-control {
	padding: 3px 6px;
	height: 28px;
}
.firmas .form-control-static {
	padding: 4px 0 0;
	border: 0;
}
