/**
 *
 * @author     Sergio Melendez <helpse@gmail.com>
 * @copyright  (c) 2015 ProCalidad
 */

/* Gproc
================================================================================
*/
.strong {
	font-weight: bold;
}

textarea {
	resize: vertical;
}

/* header
*/
.title_resumen {
	_margin-top: 0
}
.bar_progress {
	_margin-bottom: 0;
}
.total_result {
	_margin-top: -20px;
}

.form-control-static {
	border: 1px solid #ddd;
	padding: 7px;
}

/*matriz planificacion*/

.table-totales {
	width: 100%;
}
.table-totales th {
	width: 12.5%;
}
/*.table-totales th:first-child {
	width: 14.285714285714%;
}
.table-totales th:last-child {
	width: 13.714285714285714%;
}*/
.per-label {
	vertical-align: middle !important;
}
.total-act {
	padding: 5px;
}

/*.actores {
	margin-top: 0px;
}*/

.tobjetivo {
	width: 20%;
}
.tresultado {
	width: 20%;
}
.tladoderecho {
	width: 60%;
}
/*.tactividades {
	width: 29%;
}*/
/*.tactividades_inner {
	width: 41%;
}*/
/*.ttotal, .tfec, .tpropio, .totros {*/
/*.totales {
	width: 5%;
}*/

.td-total {
	width: 14%;
}

/*.totales_inner {
	width: 7%;
}*/
/*.tactores {
	width: 17%;
}*/
.tactores_inner {
	width: 20%;
}
/*.tejecucion {
	width: 10%;
}*/
.tejecucion_inner {
	width: 10%;
}

/*.tactornombre {
	width: 86%; 
	margin-top: 0px;
}

.tactordni {
	width: 42%;
}

.tactortelefono {
	width: 42%;
}

.tactorcargo {
	width: 100%;
}

.tmeses {
	margin-top: 0px;
}*/

.guardaract {
	float: right
}

.inputactividadnofinanciable {
	margin-bottom: 10px;
}

.pasajes {
	width: 16%;
}

.alojamiento {
	width: 18%;
}

.alimentacion {
	width: 19%;
}

.formacion, .taller {
	width: 17%;
}

.porcentaje {
	width: 30px; 
	height: 34px;
}

.optespacio {
	padding-left: 15px;
}

.dynamic {
	margin-bottom: 0;
}
.table.table_actividades {
	margin-bottom: 0;
	background: #f9f9f9;
}

.table-centered > thead > tr > th {
	text-align: center;
}
.table-centered > tbody > tr > td {
	padding: 0;
}

.tactividades_inner .actividad_input {
	_height: 34px;
	_width: 100%;
}

.tladoderecho th {
	text-align: center;
}

/*.espacio_inf_table {
	margin-bottom: 10px;
}

.oscurece_estandar {
	font-weight: bold;
}*/
/*matriz planificacion*/

/*.select2-container--default .select2-results > .select2-results__options {
  max-height: 300px;
  overflow-y: auto; }
.select2-container--classic .select2-results > .select2-results__options {
  max-height: 300px;
  overflow-y: auto; }
.select2-container--default .select2-selection--multiple {
	border-radius: 0;
}*/

.firmas .box-header .box-title {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0 5px 10px;
}
.firmas .box-title {
	padding-bottom: 0;
}
.firmas .box-body {
	padding: 10px 30px;
}
.firmas .form-group {
	margin-bottom: 0;
}
.firmas .form-control {
	padding: 3px 6px;
	height: 28px;
}
.firmas .form-control-static {
	padding: 4px 0 0;
	border: 0;
}

.tladoderecho .pull-right {
	margin-bottom: 10px;
}

/*.dynamic tr:hover:not(:first-child) > .td-actions > button {
	display: inline-block;
}*/
