/**
 *
 * @author     Sergio Melendez <helpse@gmail.com>
 * @copyright  (c) 2015 ProCalidad
 */

/* Gproc
================================================================================
*/

.div-contenido {
	_width: 60%;
	_margin-left: 20%;
}
.tdocumento-nombre {
	width: 85%;
}
.tdocumento-pdf {
	width: 15%;
}
