/**
 *
 * @author     Sergio Melendez <helpse@gmail.com>
 * @copyright  (c) 2015 ProCalidad
 */

/* Gproc
================================================================================
*/

/* header
*/

/*matriz presupuesto*/

.form-control-static {
	border: 1px solid #ddd;
	padding: 7px;
}

#table-total-wrapper {
	float: right;
	width: 100%;
}
#table-total-wrapper th {
	width: 12.5%;
}
.table-maximo-fec td {
	width: 12.5%;
}
.per-label {
	vertical-align: middle !important;
}

.dynamic td {
	vertical-align: top;
}

.th-objetivo {
	width: 4%;
}

.th-resultado {
	width: 4%;
}

.th-actividades,
.td-actividades {
	width: 92%;
}

.well-actividad {
	padding: 10px;
	background: #fff;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}

/*.td-gastos {
	width: 84%;
}*/

.well-actividad .table.table-presupuesto td,
.well-actividad .table.table-presupuesto th {
	padding: 2px;
}

.td-descripcion {
	width: 40%;
}
.td-gasto, 
.td-tipo, 
.td-item {
	width: 6%;
}
.td-pdf {
	_width: 17%;
	width: 70px;
}
.td-unidad, 
.td-costounitario, 
.td-cantidad, 
.td-subtotal{
	width: 8%;
}
.td-financia {
	width: 10%;
}

.td-descripcion textarea {
	height: 70px;
}
.td_input[disabled] {
	display: none;
}

/*.tr-gastos {
	vertical-align: text-top;
}*/

textarea {
	resize: vertical;
}

.table-centered > thead > tr > th {
	//vertical-align: middle;
	text-align: center;
}
.table-centered > tbody > tr > td {
	padding: 0;
	//vertical-align: middle;
}


/* File input
*/
/*.btn-file-wrapper {
	padding: 0;
}
.btn.btn-file {
	width: 35px;
}
.btn-file[data-title]:hover:after,
.btn_file_view[data-title]:hover:after {
	display: none;
}
.btn.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
	
	width: 35px !important;
	height: 35px !important;
}
.btn_file_view:not(.disabled) .empty {
	display: none;
}
.btn_file_view.disabled .full {
	display: none;
}
.file_process {
	padding-left: 8px;
	padding-right: 8px;
}*/

/*matriz presupuesto*/

.input-otro {
	position: absolute;
	width: 600px;
}

.firmas .box-header .box-title {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0 5px 10px;
}
.firmas .box-title {
	padding-bottom: 0;
}
.firmas .box-body {
	padding: 10px 30px;
}
.firmas .form-group {
	margin-bottom: 0;
}
.firmas .form-control {
	padding: 3px 6px;
	height: 28px;
}
.firmas .form-control-static {
	padding: 4px 0 0;
	border: 0;
}
