/**
 *
 * @author     Sergio Melendez <helpse@gmail.com>
 * @copyright  (c) 2015 ProCalidad
 */

/* Gproc
================================================================================
*/

.error_cell input,
.error_cell select,
.error_cell textarea {
	border: 1px solid red;
	background: #f2dede;
}

.strong {
	font-weight: bold;
}

textarea {
	resize: vertical;
}

/* header
*/
.form-control-static {
	border: 1px solid #ddd;
	padding: 7px;
}

.bg-success {
	background-color: #dff0d8 !important;
}

/*matriz presupuesto */

.table-totales {
	width: 100%;
}
.table-totales th {
	width: 12.5%;
}
/*.table-totales th:first-child {
	width: 14.285714285714%;
}
.table-totales th:last-child {
	width: 13.714285714285714%;
}*/
.per-label {
	vertical-align: middle !important;
}
.total-act {
	padding: 5px;
}

/*.actores {
	margin-top: 0px;
}*/

.tobjetivo {
	width: 5%;
}
.tresultado {
	width: 5%;
}
.tladoderecho {
	width: 90%;
}

.well-actividad {
	padding: 10px;
	background: #fff;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}
.table-subactividad tbody {
	vertical-align: top;
}
.table-subactividad td:nth-child(1) { width: 30%; }
.table-subactividad td:nth-child(2) { width: 30%; }
.table-subactividad td:nth-child(3) { width: 15%; }
.table-subactividad td:nth-child(4) { width: 15%; }
.table-subactividad td:nth-child(5) { width: 10%; }

.box .box-header .box-title {
	font-size: 14px;
}
.well-subactividad {
	border: 1px solid #ddd;
	padding: 10px;
}
.alert {
	margin-left: 0;
}

.firmas .box-header .box-title {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0 5px 10px;
}
.firmas .box-title {
	padding-bottom: 0;
}
.firmas .box-body {
	padding: 10px 30px;
}
.firmas .form-group {
	margin-bottom: 0;
}
.firmas .form-control {
	padding: 3px 6px;
	height: 28px;
}
.firmas .form-control-static {
	padding: 4px 0 0;
	border: 0;
}

.tladoderecho .pull-right {
	margin-bottom: 10px;
}

/*.dynamic tr:hover:not(:first-child) > .td-actions > button {
	display: inline-block;
}*/

#table-detalle tbody th {
	background: #dff0d8;
}
