/**
 *
 * @author     Sergio Melendez <helpse@gmail.com>
 * @copyright  (c) 2015 ProCalidad
 */

/* Regular User
================================================================================
*/

.header.regular .logo {
	width: 270px;
	text-align: right;
}
.header.regular .logo .icon {
	height: 40px;
	float: left;
	margin-top: 5px;
	margin-right: -15px;
}
.header.regular .navbar {
	margin-left: 270px;
}

.header.regular .navbar-text {
	position: absolute;
	color: #f9f9f9;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.header.regular .dropdown-menu > li.user-body {
	padding: 15px 0;
}
.header.regular .dropdown-menu > li.user-body .btn-danger {
	color: #fff;
}

.header.regular .navbar-nav > .user-menu {
	background-color: #00529C;
}
.header.regular .navbar-nav > .user-menu > .dropdown-menu {
	padding-top: 10px;
}
.header.regular .navbar .dropdown-menu > li > a:hover {
	color: #f9f9f9;
	background: #3c8dbc;
}
.header.regular .navbar-nav > .user-menu > .dropdown-menu > li.user-footer {
	margin-top: 10px;
}

@media screen and (max-width: 560px) {
	body > .header.regular .logo,
	body > .header.regular .navbar {
		width: 100%;
		float: none;
		position: relative!important;
		margin-left: 0;
	}

}



/* File input
*/
.btn-file-wrapper {
	padding: 0;
}
.btn.btn-file {
	width: 35px;
}
.btn-file[data-title]:hover:after,
.btn_file_view[data-title]:hover:after {
	display: none;
}
.btn.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
	
	width: 35px !important;
	height: 35px !important;
}
.btn_file_view:not(.disabled) .empty {
	display: none;
}
.btn_file_view.disabled .full {
	display: none;
}
.file_process {
	padding-left: 8px;
	padding-right: 8px;
}
