/* 
    Created on : Aug 10, 2014, 2:58:02 AM
    Author     : sergio
*/

@media (min-width: 768px) {
	.form-horizontal input[type=file] {
		margin-top: 6px;
		margin-bottom: 6px;
	}
}

/* List
================================================================================
*/
.list-buttons {
	margin: 20px 15px 0 0;
	text-align: right;
}

/* - Pagination
*/
.box-header.pagination-top,
.box-footer.pagination-bottom {
	margin: 0;
	border: 0;
	padding: 0;
}
.pagination-wrapper {
	padding: 10px;
}
.box-header.pagination-top .pagination-wrapper {
	border-bottom: 1px solid #f4f4f4;
}
.box-footer.pagination-bottom .pagination-wrapper {
	border-top: 1px solid #f4f4f4;
}
.pagination-wrapper .pagination .active > a {
	color: #fff;
}
.pagination-wrapper .pagination > .disabled > a {
	color: #999;
}
@media screen {
	.box-responsive {
		min-width: 100%;
		overflow: auto;
	}
}

/* - Table
*/
.th-actions {
	width: 30px;
}
.td-actions {
	white-space: nowrap;
}
th.order {
	cursor: pointer;
	
	position: relative;
}
th.order:after {
	font-family: FontAwesome;
	content: '\f106';
	_float: right;
	display: inline;
	color: #ccc;
	
	position: absolute;
	top: -5px;
	left: 0px;
	padding: 0 5px;
	_background: rgba(255,255,255,.7);
}
th.order.asc:after {
	content: '\f106';
	color: #000;
}
th.order.desc:after {
	content: '\f107';
	color: #000;
}

/* - Iframe
*/
.iframe {
	width: 0px;
	line-height: 0px;
	height: 0px;
	border: 0px;
	padding: 0px;
	margin: 0px;
	display: none;
}

/* Form
================================================================================
*/



/* Print
================================================================================
*/

@media print {
	.content-header {
		display: block;
	}
	.content-header .breadcrumb,
	.list-buttons, 
	.pagination,
	.th-actions,
	.td-actions,
	.pagination-top,
	th.order:after,
	td a:after {
		display: none;
	}
	.content,
	.right-side > .content-header {
		padding: 0;
	}
	
	.table>thead>tr>th,
	.table>tbody>tr>th,
	.table>tfoot>tr>th,
	.table>thead>tr>td,
	.table>tbody>tr>td,
	.table>tfoot>tr>td {
		padding: 0 5px;
	}
}

.hidden-actions {
	text-align: right;
}

.hidden-actions > a {
	visibility: hidden;
}

tr:hover > .hidden-actions > a {
	visibility: visible;
}
